//-----------------------------------------------------------------
// Space Out Resources
// RC Source - SpaceOut.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_SPACEOUT          ICON         "Res\\apple.ico"
IDI_SPACEOUT_SM       ICON         "Res\\apple.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
//IDB_DESERT            BITMAP       "Res\\Desert.bmp"
//IDB_CAR               BITMAP       "Res\\Car.bmp"
//IDB_SMCAR             BITMAP       "Res\\SmCar.bmp"
//IDB_MISSILE           BITMAP       "Res\\Missile.bmp"
//IDB_BLOBBO            BITMAP       "Res\\Blobbo.bmp"
//IDB_BMISSILE          BITMAP       "Res\\BMissile.bmp"
//IDB_JELLY             BITMAP       "Res\\Jelly.bmp"
//IDB_JMISSILE          BITMAP       "Res\\JMissile.bmp"
//IDB_TIMMY             BITMAP       "Res\\Timmy.bmp"
//IDB_TMISSILE          BITMAP       "Res\\TMissile.bmp"
//IDB_SMEXPLOSION       BITMAP       "Res\\SmExplosion.bmp"
//IDB_LGEXPLOSION       BITMAP       "Res\\LgExplosion.bmp"
//IDB_GAMEOVER          BITMAP       "Res\\GameOver.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
IDW_MISSILE           WAVE         "Res\\fall_in_grass.wav"
IDW_SMEXPLODE         WAVE         "Res\\catch_stone.wav"
IDW_LGEXPLODE         WAVE         "Res\\catch_apple.wav"
IDW_GAMEOVER          WAVE         "Res\\game_over.wav"
IDW_CLICK             WAVE         "Res\\click.wav"
